<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <link href="http://vjs.zencdn.net/6.2.0/video-js.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- React APP -->
    <div id="app"></div>




    <!-- ReactJS -->
    <script>
        var __react_user = <%-JSON.stringify(user) %>;
    </script>
    <script src="/jsx/react.js"></script>


</body>

</html>